NEXT_PUBLIC_APP_NAME="Word Covenant Ministry"
NEXT_PUBLIC_APP_URL="http://wordcovenantministry.local:3030"
NEXT_PUBLIC_API_URL="http://wordcovenantministry.local/wp-json"
NEXT_PUBLIC_ENV="local"
NEXT_PUBLIC_CLOUDFLARE_IMAGE_ACCOUNT_HASH=""
